@if (viewMode()) {
  <div class="form-group view-mode">
    @if (label()) {
      <label>{{ label() }}</label>
    }
    <div class="view-value">{{ viewValue() ?? _selectedLabel() ?? '-' }}</div>
  </div>
} @else {
  <div class="form-group">
    @if (label()) {
      <label [id]="name() + '-label'">{{ label() }}</label>
    }

    <div
      class="l-icon-grid"
      role="radiogroup"
      [class.l-icon-grid--labelled]="showLabels()"
      [attr.aria-labelledby]="label() ? name() + '-label' : null"
    >
      @for (option of options(); track option.value) {
        <label
          class="l-icon-tile"
          [class.is-checked]="_isChecked(option.value)"
          [style.--tile-color]="_tileColor(option)"
        >
          <input
            type="radio"
            class="l-icon-tile__input"
            [name]="name()"
            [checked]="_isChecked(option.value)"
            [disabled]="_isDisabled() || !!option.disabled"
            [attr.aria-label]="option.label"
            (change)="_select(option.value)"
            (blur)="_handleBlur()"
          />
          @if (showLabels()) {
            <span class="l-icon-tile__badge">
              <l-icon [name]="_iconName(option)" [size]="20" color="inherit" />
            </span>
            <span class="l-icon-tile__label" aria-hidden="true">{{ option.label }}</span>
          } @else {
            <l-icon [name]="_iconName(option)" [size]="24" color="inherit" />
          }
        </label>
      }
    </div>
  </div>
}
